.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: 25px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .form-signup {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  .form-signup .checkbox {
    font-weight: 400;
  }
  .form-signup .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signup .form-control:focus {
    z-index: 2;
  }
  .form-signup input[type="email"] {
    margin-bottom: 25px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signup input[type="text"] {
    margin-bottom: 25px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signup input[type="password"] {
    margin-bottom: 25px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

/* $c-pagination-item: #000;
$c-pagination-item-active: #fff;
$c-pagination-active: red;

.pagination {
  
  &__item {
    display: inline-block;
    font-size: 16px;
    border: 1px solid transparent;
    margin-right: 2px;
    
    &.is-active {
      border: 1px solid $c-pagination-active;
      background: $c-pagination-active;
      color: $c-pagination-item-active;
    }
    &:hover,
    &:active {
      border: 1px solid $c-pagination-active;
    }
  }
  
  &__number {
    display: block;
    padding: 2px 6px;
    text-decoration: none;
    color: inherit;
  }
  
  &__list {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    font-size: 0;
  }
  
  &__prev,
  &__next {
    display: inline-block;
    text-decoration: none;
    
    &:hover,
    &:active {
      color: $c-pagination-active;
    }
  }
} */
  